%nunito{
  font-family: "nunito-bold";
  font-weight: 700;
}
%philosopher{
  font-family: "philosopher-bold";
  font-weight: 700;
}

%btn-grad{
  background: linear-gradient(95.27deg, #6B4185 0%, #4749A3 100%);
}
%button-bg{
  background: linear-gradient(95.27deg, #6B4185 0%, #4749A3 100%);
}

%default{
  color: #490C3C;
}

%dope{
  color: #704770;
}

%labels{
  color: #CBD0D7;
}